@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
}

.container {
  width: 90%;
  height: 90%;
  margin: auto;
  /* border: 1px solid white; */
  position: relative;
}

@keyframes logoPopup {
  0% {
    background-color: rgb(23, 32, 109);
  }
  100% {
    opacity: 0;
  }
}

.front {
  position: absolute;
  inset: 0;
  background-color: transparent;
  z-index: 5;
  animation: 1s ease logoPopup;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-10%);
    opacity: 10%;
  }
  50% {
    transform: translateX(-5%);
    opacity: 50%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

.bg-container {
  width: 100%;
  height: 100%;
  background-image: url(asset/Landing-Bg.png);
  background-size: cover;
  animation: 0.4s ease-in slideInFromLeft;
  /* perspective: 100px; */
}

/* @keyframes sparklingDots {
  0% {
    transform: translate(20px);
  }
  50% {
    transform: translate(10px);
  }
  100% {
    transform: translate(0);
  }
} */

.dot1,
.dot2,
.dot3,
.dot4 {
  position: absolute;
  background-color: white;
  border-radius: 100%;
  box-shadow: 0 0 20px rgb(255, 255, 255), 0 0 40px rgba(255, 255, 0, 1),
    0 0 60px rgba(255, 255, 0, 1), 0 0 80px rgba(255, 255, 0, 1),
    0 0 0 8px rgba(255, 255, 0, 0.1);
  animation: 0.4s ease-in sparklingDots;
}

.dot1 {
  top: 40%;
  left: 35%;
  width: 6px;
  height: 6px;
}
.dot2 {
  top: 47%;
  left: 36%;
  width: 5px;
  height: 5px;
}
.dot3 {
  top: 32%;
  left: 42%;
  width: 4px;
  height: 4px;
}
.dot4 {
  top: 23%;
  left: 35%;
  width: 6px;
  height: 6px;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(10%);
    opacity: 10%;
  }
  50% {
    transform: translateX(5%);
    opacity: 50%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

.content {
  height: 100%;
  position: absolute;
  top: 0;
  left: 55%;
  right: 5%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2.8rem;
  animation: 0.4s ease-in slideInFromRight;
}

.brand-name h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: "Exo 2", sans-serif;
  font-style: italic;
}
.brand-name p {
  margin-top: 4px;
  font-size: large;
  font-family: "Poppins", sans-serif;
  color: rgb(90, 137, 240);
  font-weight: 500;
}

.intro p:first-of-type {
  font-size: 3rem;
  font-weight: 500;
  opacity: 80%;
}
.intro p:last-of-type {
  margin-top: 0.8rem;
  font-size: 0.8rem;
  line-height: 1.4rem;
  font-family: "Poppins", sans-serif;
  max-width: 50ch;
}

.power-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  padding: 0.5rem;
  text-transform: uppercase;
  background: transparent;
  color: white;
  font-weight: 600;
  border-color: blue;
  border-radius: 200px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.power-btn div {
  padding: 0.2rem;
  background-color: blue;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.power-btn img {
  width: 1.5rem;
  height: 1.5rem;
}
.power-btn span {
  padding: 0 0.7rem 0 0;
  letter-spacing: 1.4px;
}
